table
{
    border-collapse:collapse;
    background-color: lightgray;
    background-image: linear-gradient(to bottom right,lightgoldenrodyellow, powderblue );
    border-color: black;
    border-width: 5px;
    border-style: solid;
    margin-bottom: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.5);
}
    
table td
{
    border:.1cm solid black;
    text-align: center;
}

.currentMonth
{
    text-align: center;
    font-size: xx-large;

}

.weekRow
{
    background-color: gray;
    background-image: linear-gradient(to bottom right,lightgoldenrodyellow, powderblue );
    border:5px solid black;
}

.weekCol
{
    
}