/********************************
        WEEKLY CSS
********************************/
.weekly-td:nth-child(even), .weekly-th:nth-child(even)
{
    background-color: #cce0ff;
}

.header
{
    padding-top: 20px;
}

/********************************
        MONTHLY CSS
********************************/


/********************************
        GLANCE CSS
********************************/

.daily-table
{
    border: 2px solid black;
    margin: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.5);
    background-color: lightgray;
    background-image: linear-gradient(to bottom right,lightgoldenrodyellow, powderblue );
}

.col-6
{
    border: 1px solid black;
    margin-left: 10px;
}

#first-row
{
    border: 1px solid black;
}

#second-row
{
    border: 1px solid black;
}

.container-glance
{
    border: 1px solid black;
    border-radius: 10px;
}

.timeslot
{
    border-bottom: 1px solid black;
}

.bubble
{
    color: black;
    background-image: linear-gradient(to bottom right,
                                    rgba(207, 241, 255, 1), 
                                    rgba(120, 217, 255, 1));
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    margin-top: 5%;
    margin-bottom: 5%;
}

.sideBubble
{
    background-image: linear-gradient(to bottom right,
                                    rgba(207, 241, 255, 1), 
                                    rgba(120, 217, 255, 1));

    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 10%;
    margin-bottom: 10%;
}

/* BASE HTML */
a.signup, a.login
{
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
}

a.signup
{
    right: 12px;
    position: absolute;
}

a.login
{
    right: 108px;
    position: absolute;
}

#calendar-popup
{
    display:none;
    left: 50%;
    position: absolute;
    margin-bottom: 0;
    padding: 0 1.33em;
    background: #ADD8E6;
    border: solid rgba(200, 200, 200, 0.75) 2px;
    border-radius: 10px;
    color: black; 
}

.calander_popup_title
{
    border-bottom: 1px solid #484141;   
    margin: 0.5em 0.5em;
    padding: .5em;
    font-size: 20px;
    background: #eee;
}
    
#calendar-popup *
{
    display: block; 
}

#calendar-popup label,
#calendar-popup input,
#calendar-popup textarea
{
    font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}

#calendar-popup input
{
    margin-bottom: 0.5em;
    padding: 0;
}

.create
{
    margin: 0em 0em;
    padding: .3em;
    font-size: 20px;
    background: #ADD8E6;
}