{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}BublCal{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/img/logo2.jpg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src=”https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js” integrity=”sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo” crossorigin=”anonymous”></script>
    <script src=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js” integrity=”sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/” crossorigin=”anonymous”></script>
    {% block styles %}{% endblock styles %}
    {% block scripts %}{% endblock %}
    
<style>

a.signup,
a.login {
  background-color: #04AA6D;
  color: white;
  padding: 10px 15px;
  
}
a.signup{
  right: 12px;
  position: absolute;
}
a.login{
  right: 108px;
  position: absolute;
}

</style>
</head>
<body>
    <!-- logo takes you to the main page -->
    <div class="container pb-4">
        <center><b><a class="dateetime" id='ct7' ></a></b></center>
        <a href="../main"><img src="{% static 'img/logo.jpg' %}" width="150" height="auto" alt="logo"></a>
        <a class="login" href="../login" > login </a> 
        <a class="signup" href="../signup" > Sign up </a>
    </div>

    <!--'include' allows multiple files to use content from nav.html-->
    {% block nav_tabs %}
        {% include "nav_tabs.html" %}
    {% endblock nav_tabs %}

    <!-- main/monthly calendar content-->
    {% block calendar %}{% endblock calendar %}

    <!-- daily view content -->
    {% block daily %}{% endblock daily %}

    <!-- weekly view content -->
    {% block header %}{% endblock header %}
    {% block table %}{% endblock table %}
    
    
    <script>function display_ct7() {
var x = new Date()
var ampm = x.getHours( ) >= 12 ? ' PM' : ' AM';
hours = x.getHours( ) % 12;
hours = hours ? hours : 12;
hours=hours.toString().length==1? 0+hours.toString() : hours;

var minutes=x.getMinutes().toString()
minutes=minutes.length==1 ? 0+minutes : minutes;

var seconds=x.getSeconds().toString()
seconds=seconds.length==1 ? 0+seconds : seconds;

var month=(x.getMonth() +1).toString();
month=month.length==1 ? 0+month : month;

var dt=x.getDate().toString();
dt=dt.length==1 ? 0+dt : dt;

var x1=month + "/" + dt + "/" + x.getFullYear(); 
x1 = x1 + " - " +  hours + ":" +  minutes + ":" +  seconds + " " + ampm;
document.getElementById('ct7').innerHTML = x1;
display_c7();
 }
 function display_c7(){
var refresh=1000; // Refresh rate in milli seconds
mytime=setTimeout('display_ct7()',refresh)
}
display_c7()
</script>
    
    
</body>
    
</html>
