{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}BublCal{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/static/img/logo2.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {% block styles %}{% endblock styles %}
    {% block scripts %}{% endblock scripts %}
    <style>
    a.signup,
    a.login {
      background-color: #04AA6D;
      color: white;
      padding: 10px 15px;
      
    }
    a.signup{
      right: 12px;
      position: absolute;
    }
    a.login{
      right: 108px;
      position: absolute;
    }
    </style>
</head>
<body>
    <!-- logo takes you to the main page (daily view) -->
    <div class="container pb-4">
        <center><b><a class="dateetime" id='ct7' ></a></b></center>
        <a href="../daily"><img src="{% static 'img/logo.jpg' %}" width="150" height="auto" alt="logo"></a>
        
		{% if loggedIn == True %}
        	<a class="login" href="/app/logout/" > Logout </a>
		{% else %}
			<a class="login" href="/app/login/" > login </a> 
        	<a class="signup" href="/app/signup/" > Sign up </a>
		{% endif %}
    </div>

    {% include "nav_tabs.html" %}
    {% block content %}{% endblock content %}

    <script>
	function display_ct7()
	{
		var x = new Date()
		var ampm = x.getHours( ) >= 12 ? ' PM' : ' AM';
		hours = x.getHours( ) % 12;
		hours = hours ? hours : 12;
		hours=hours.toString().length==1? 0+hours.toString() : hours;

		var minutes=x.getMinutes().toString()
		minutes=minutes.length==1 ? 0+minutes : minutes;

		var seconds=x.getSeconds().toString()
		seconds=seconds.length==1 ? 0+seconds : seconds;

		var month=(x.getMonth() +1).toString();
		month=month.length==1 ? 0+month : month;

		var dt=x.getDate().toString();
		dt=dt.length==1 ? 0+dt : dt;

		var x1=month + "/" + dt + "/" + x.getFullYear();
		x1 = x1 + " - " +  hours + ":" +  minutes + ":" +  seconds + " " + ampm;
		document.getElementById('ct7').innerHTML = x1;
		display_c7();
	}
    
	function display_c7()
	{
    	var refresh=1000; // Refresh rate in milli seconds
    	mytime=setTimeout('display_ct7()',refresh)
    }

    display_c7()
    
	</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
