{% extends "base.html" %}
{% load static %}

{% block title %}View dead bubls{% endblock title %}

{% block content %}
    <div class="container-sm">
        <h3>Recently Deleted Bubbles From Last 30 Days</h3>
        <center>
            <div class="row">
                {% for bubl in bubls %}
                <div class="col">
                    <!-- Bubble -->
                    <button type="button" class="btn btn-primary bubble" data-bs-toggle="modal"
                        data-bs-target="#bubl-{{bubl.id}}" title="At {{bubl.time}}">
                        {{ bubl.name }}
                    </button>

                    <!-- Bubble Info View -->
                    <div class="modal fade" id="bubl-{{bubl.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ bubl.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    At {{ bubl.time }} {{ bubl.date }} for {{ bubl.length }} minutes
                                    <br>
                                    {{ bubl.note }}
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger" href="/app/delete/{{bubl.id}}" role="button">Delete</a>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#bubl-{{bubl.id}}-restore">Restore</button>
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Bubble Restore Form -->
                    <div class="modal fade" id="bubl-{{bubl.id}}-restore" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <form method="post" action="/app/restore/{{bubl.id}}/">{% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit Bubble</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">

                                        <!-- Name -->
                                        <div class="input-group mb-3">
                                            <input name="name" type="text" class="form-control"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default" placeholder="Bubble Name"
                                                value="{{bubl.name}}" required>
                                        </div>

                                        <!-- Note -->
                                        <div class="input-group mb-3">
                                            <input name="note" type="text" class="form-control"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default" placeholder="Extra Note"
                                                value="{{bubl.note}}">
                                        </div>

                                        <!-- Date & Time -->
                                        <div class="input-group mb-3">
                                            <input name="time" type="time" class="form-control"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default"
                                                value="{{bubl.time.hour|stringformat:'02d'}}:{{bubl.time.minute|stringformat:'02d'}}"
                                                required>
                                            <input name="date" type="date" class="form-control"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default"
                                                value="{{bubl.date.year}}-{{bubl.date.month|stringformat:'02d'}}-{{bubl.date.day|stringformat:'02d'}}"
                                                required>
                                        </div>

                                        <!-- Length -->
                                        <div class="input-group mb-3">
                                            <input name="length" type="number" class="form-control"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default" value="{{bubl.length}}"
                                                placeholder="Length (minutes)">
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Restore to calendar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock content %}