{% extends "base.html" %}
{% load static %}

{% block title %}Day at a Glance{% endblock title %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'glance/style.css' %}">
{% endblock styles%}

{% block scripts %}
    <script src="{% static 'glance/script.js' %}"></script>
{% endblock scripts %}

{% block content %}
    <div class="container d-flex align-items-center justify-content-center pt-4">
        <table class="dailyView">
            
            <!-- Header -->
            <tr>
                <td class="dailyCurrent">
                    <center>
                    <h1>Today ({{today_name}})</h1>
                    <h3>{{today}}</h3>
                    </center>
                </td>
                <td class="dailyAfter">
                    <center>
                    <h2>Tomorrow ({{tomorrow_name}})</h2>
                    <h3>{{tomorrow}}</h3>
                </center>
                </td>
                <td class="dailyAfter">
                    <center>
                    <h2>Overmorrow ({{overmorrow_name}})</h2>
                    <h3>{{overmorrow}}</h3>
                </center>
                </td>
            </tr>

            <!-- Notes / Sidenotes -->
            <tr>
                <!-- Active day -->
                <td class="dailyNote">
                    <button onclick="createBubble(this);">Create Bubble</button>
                    {% for slot in timeSlots %}
                        <div class="bubHolder">
                            <span>{{slot.1}}------------------------</span>
                            {% for bubl in bubls %}
                                {% if bubl.date.hour == slot.0 %}
                                    <h3>{{bubl.date}}</h3>
                                    <span>{{bubl.date.hour}}</span>
                                {% endif %}
                            {% endfor %}
                            <!--<button id="bubt" class="bub" onclick="killme(this);">Do homework</button>
                            -->
                        </div>
                    {% endfor %}
                </td>

                <!-- Tomorrow -->
                <td class="dailyNoteAfter">
                    <center>
                    <div class="sidebub"></div>
                    <div class="sidebub"></div>
                    <div class="sidebub"></div>
                    </center>
                </td>

                <!-- Overmorrow -->
                <td class="dailyNoteAfter">
                    <center>
                    <div class="sidebub"></div>
                    <div class="sidebub"></div>
                    <div class="sidebub"></div>
                    <div class="sidebub"></div>
                    </center>
                </td>
            </tr>
        </table>
    </div>
{% endblock content %}