{% load static %}
<!DOCTYPE html>
<html>
<title> Home page </title>
<head>
<style>

a.signup,
a.login {
  background-color: #04AA6D;
  color: white;
  padding: 10px 15px;
  
}
a.signup{
  right: 12px;
  position: absolute;
}
a.login{
  right: 108px;
  position: absolute;
}
img{
  width: 10%;
}
</style>
</head>
<body>
<div>
    <a href="../main"><img src="{% static 'img/logo.jpg' %}" alt="LOGO"></a>
    <a class="login" href="login" > login </a> 
    <a class="signup" href="signup" > Sign up </a>
</div>
</body>
</html>
