{# index.html #}
{# the first page a user views, this page will be filled with info #}
{# intended to be used by views.py/index #}
{% extends "base.html" %}
{% load static %}

{% block title %}BublCal{% endblock title %}

{% block content %}
	<div class="container-sm">
		<br><br>
		
		<center>
			<p>A simply powerful calendar app</p>

			<u><h2>Different Views for Different Needs</h2></u>
			<h4>Your Day at a Glance</h4>
			<p>Take a simple look at your schedule.</p>
			<img style="width: 50%; border: 1px solid black" src="{% static 'img/examples/daily_glance.png' %}"></img>
			<br><br>

			<h4>Weekly and Monthly View</h4>
			<p>Get a greater picture of your schedule</p>
			<img style="width: 50%; border: 1px solid black" src="{% static 'img/examples/weekly_view.png' %}"></img><br>
			<img style="width: 50%; border: 1px solid black" src="{% static 'img/examples/monthly_view.png' %}"></img>
			<br><br>

			<u><h2>Easily Manage Tasks</h2></u>
			<h4>Creating Bubls</h4>
			<p>Creating tasks or "bubls" has never been easier</p>
			<img style="width: 50%; border: 1px solid black" src="{% static 'img/examples/create_bubl.png' %}"></img><br>
			<img style="width: 50%; border: 1px solid black" src="{% static 'img/examples/edit_bubl.png' %}"></img>
			<br><br>

			<u><h2>More Info</h2></u>
			<h4>Check out the source code on GitHub</h4>
			<p><a href="https://github.com/mlm0207/BublCal/">https://github.com/mlm0207/BublCal/</a></p>
			<br><br>
		</center>
	</div>
{% endblock content %}