{% extends "base.html" %}
{% load static %}

{% block title %}Monthly View{% endblock title %}

{% block styles %}
    {#<link rel="stylesheet" type="text/css" href="{% static 'main/monthly.css' %}">#}
{% endblock styles %}

{% block content %}
    <style>
        /* Base background look */
        .baseBG
        {
            border              : 2px solid black;
            box-shadow          : 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.5);
            background-color    : lightgray;
            background-image    : linear-gradient(to bottom right,#fafad2, #b0e0e6 );
        }

        /* Column headers */
        .left
        {
            border-left     : 1px solid black;
            border-bottom   : 2px solid black;
        }

        /* Column content */
        .right
        {
            border-left     : 2px solid black;
            border-bottom   : 2px solid black;
        }

        /* Time slot underline */
        .timeslot
        {
            border-bottom: 1px solid black;
        }

        /* Clickable style */
        .bubl
        {
            color               : black;
            background-image    : linear-gradient(to bottom right,
                                                rgba(207, 241, 255, 1), 
                                                rgba(120, 217, 255, 1));

            border-radius       : 50%;
            display             : flex;
            align-items         : center;
            justify-content     : center;

            width               : 45px;
            height              : 45px;

            margin-top          : 5%;
            margin-bottom       : 5%;
        }

        /* Clickable style */
        .bublDone
        {
            color               : black;
            background-image    : linear-gradient(to bottom right,
                                                rgb(207, 255, 217), 
                                                rgb(120, 255, 131));

            border              : solid 1px green;
            border-radius       : 50%;
            display             : flex;
            align-items         : center;
            justify-content     : center;

            width               : 100px;
            height              : 100px;

            margin-top          : 5%;
            margin-bottom       : 5%;
        }

        /* Side bubl style */
        .sideBubl
        {
            background-image    : linear-gradient(to bottom right,
                                            rgba(207, 241, 255, 1), 
                                            rgba(120, 217, 255, 1));
            
            border              : 1px solid rgba(0, 0, 0, 0.411);
            border-radius       : 50%;
            
            width               : 30px;
            height              : 30px;
            
            margin-top          : 10%;
            margin-bottom       : 10%;
        }

        .activeDay
        {
            color: white;
            background-color: black;
        }

        .otherMonth
        {
            color: rgb(156, 156, 156);
        }

        .col
        {
            width: 50px;
            height: 50px;
        }
    </style>

    <br>

    <div class="container">
        <div class="row">
            <table>
                <tr>
                    <th>
                        <center>
                            <a type="button" class="btn btn-primary" title="Jump to last month" href="{{prevMonthLink}}">Last Month</a>
                        </center>
                    </th>
                    <th>
                        <center>
                            <h2>{{ monthName }} {{ year }}</h2>
                        </center>
                    </th>
                    <th>
                        <center>
                            <a type="button" class="btn btn-primary" title="Jump to next month" href="{{nextMonthLink}}">Next Month</a>
                        </center>
                    </th>
                </tr>
            </table>
        </div>
    </div>

    <br>
    
    <div class="container baseBG">
        <div class="row">
            <div class="col d-flex justify-content-center fw-bold left">Sun</div>
            <div class="col d-flex justify-content-center fw-bold left">Mon</div>
            <div class="col d-flex justify-content-center fw-bold left">Tue</div>
            <div class="col d-flex justify-content-center fw-bold left">Wed</div>
            <div class="col d-flex justify-content-center fw-bold left">Thu</div>
            <div class="col d-flex justify-content-center fw-bold left">Fri</div>
            <div class="col d-flex justify-content-center fw-bold left">Sat</div>
        </div>
            {% for week in weeks %}
                <div class="row">
                    {% for day in week %}

                        {# Same month #}
                        {% if day.0.month == month %}
                            {# Check for active day #}
                            {% if day.0.day == today.day and day.0.month == today.month %}
                                <div class="col d-flex justify-content-center left activeDay" onclick="location.href='/app/daily/{{month}}/{{day.0.day}}/{{year}}'" title="{{day.3}}">
                            {# Other day, same month #}
                            {% else %}
                                <div class="col d-flex justify-content-center left" onclick="location.href='/app/daily/{{month}}/{{day.0.day}}/{{year}}'" title="{{day.3}}">
                            {% endif %}

                        {# Other month days #}
                        {% else %}
                            <div class="col d-flex justify-content-center left otherMonth" onclick="location.href='/app/daily/{{month}}/{{day.0.day}}/{{year}}'">
                        {% endif %}

                        {# Print day w/ number of bubls #}
                        <span>{{ day.0.day }}</span>

                        
                        <span style="writing-mode: tb-rl; color: darkblue; font-size:30px">
                            {% for bubl in day.2 %}
                                •
                            {% endfor %}
                        </span>
                        
                        <span style="writing-mode: tb-rl; color: darkgreen; font-size:30px">
                            {% for bubl in day.1 %}
                                •
                            {% endfor %}
                        </span>

                        </div>

                    {% endfor %}
                </div>
            {% endfor %}
    </div>
{% endblock content %}