{% load static %}
{% url "glance-view" as daily %}
{% url "weekly-view" as weekly %}
{% url "monthly-view" as monthly %}

<script>
    function main()
    {
        weeklyElement = document.getElementById("weekly1");

        today = new Date();

        year = today.getFullYear();
        month = today.getMonth() + 1;
        day = today.getDate();

        weeklyElement.href = `/app/weekly/${month}/${day}/${year}/`;
    }

    window.onload = main;
</script>

<div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" id="tabs" role="tablist">
        <li class="nav-item">
            <a
                    id="daily1"
                    class="nav-link {% if request.path == daily %} active {%endif%}"
                    href="{{daily}}">Day at a Glance</a>
        </li>
        <li class="nav-item">
            <a
                    id="weekly1"
                    class="nav-link {% if 'weekly' in request.path %} active {%endif%}"
                    href="/app/weekly/">This Week</a>
        </li>
        <li class="nav-item">
            <a
                    id="monthly1"
                    class="nav-link {% if request.path == monthly %} active {%endif%}"
                    href="{{monthly}}">This Month</a>
        </li>
    </ul>
</div>
