<! DOCTYPE html>

<html>
<title> profile page </title>
<head>
<style>

img{
  width: 10%;		
}


</style>
</head>
<body>


<div>
    <h1 >Edit Profile</h1>
      <hr>
	<div>
 
      <div class="personal-info">
       
        <center><h3>Personal information</h3><br>
        
        <form class="form" role="form">
          
            
            <div class="fName">First name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input class="form-control" type="text" value="">
            </div>
          <br>
          
            
            <div class="lName">Last name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input class="form-control" type="text" value="">
            </div>
          <br>
          
            <div class="birthDay">Date of Birth:&nbsp;&nbsp;&nbsp;
              <input class="form-control" type="text" value="">
            </div>
          <br>
          <div >
            <div>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="text" value="">
            </div>
          </div><br>
          <div class="button">
        <button style="font-size:2vw" type="submit" />Update
      </div>
        </form><center>
      </div>
  </div>
</div>
<hr>



</body>
</html>