{% extends "base.html" %}
{% load static %}
<title>{% block title %}Weekly Schedule{% endblock %}</title>

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'weekly/weekly.css' %}">
{% endblock styles %}

{% block content %}
    <div class="container pt-4 pb-2">
        <h2 class="text-center">{{ month_year }}</h2>
        <h4 class="text-center">Week of {{ day_of_week }}, the {{ day }}</h4>


    <div id="week_table" class="container table-responsive">
        <table class="table table-bordered">
            <tr class="weekdays">
                {% for name, date in days.items %}
                    <th class="text-center"> {{ name }} {{ date }}</th>
                {% endfor %}
            </tr>

            <!--Weekly Bubls will go here -->
            <tr class="vh-100">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    </div>
{% endblock content %}