
.daily-table
{
    border: 2px solid black;
    margin-top: 2.5%;
    margin-left: 4%;
    margin-right: 4%;
    padding-right: 11px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.5);
    background-color: lightgray;
    background-image: linear-gradient(to bottom right,lightgoldenrodyellow, powderblue );
}

.col-6
{
    border: 1px solid black;
    margin-left: 10px;
    border-right: 2px solid black;
}
.col
{
    border-right: 2px solid black;
}
#first-row
{
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#second-row
{
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.container-glance
{
    border: 1px solid black;
    border-radius: 10px;
}

.timeslot
{
    border-bottom: 1px solid black;
}

.bubble
{
    color: black;
    background-image: linear-gradient(to bottom right,
                                    rgba(207, 241, 255, 1), 
                                    rgba(120, 217, 255, 1));
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    margin-top: 5%;
    margin-bottom: 5%;
}

.sideBubble
{
    background-image: linear-gradient(to bottom right,
                                    rgba(207, 241, 255, 1), 
                                    rgba(120, 217, 255, 1));

    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-top: 10%;
    margin-bottom: 10%;
}